- var needfixmenu=false;
- var date=Date.now();

doctype html
html(lang="zh-Hant-TW")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        
        meta(name="description" content=CONFIG.description)
        meta(name="keywords" CONTENT=CONFIG.keywords )
        meta(property="og:url"  content=CONFIG.og_url)
        meta(property="og:type" content=CONFIG.og_type)
        meta(property="og:title" content=CONFIG.title)
        meta(property="og:description" content=CONFIG.description)

        title #{CONFIG.title}

        block styles
            link(rel="stylesheet", href="./css/bootstrap-reboot.min.css")
            link(rel="stylesheet", href="./css/animate.css")
            link(rel="stylesheet", href="./css/index.css?v="+date)
        block plugins
            //- A/B Test
            //- style
            //-     .async-hide { opacity: 0 !important} 
            script(src="https://www.googletagmanager.com/gtag/js?id=UA-123392816-1",async)
            script.
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'UA-123392816-1');

            script(src="./js/jquery-3.1.1.min.js")
            script(src="./js/wow.min.js")
            body
                #app
                    block content
                
                if needfixmenu
                    nav.fix-menu.active
                        .fix-menu-slogan
                        ul
                            each val in fixmenuarr
                                li= val
                        .fix-menu-top.top TOP
                
                .top.to-top
                    .triangle
                    span TOP

                block footer
                    footer.footer #{CONFIG.footer}
                
                block scripts
                    script(src="./js/main.js?v="+date)