<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="<%= CONFIG.description %>">
        <meta name="keywords" CONTENT="<%= CONFIG.title %>">
        <meta property="og:url" content="<%= CONFIG.og_url %>">
        <meta property="og:type" content="website">
        <meta property="og:title" content="<%= CONFIG.title %>">
        <meta property="og:description" content="<%= CONFIG.description %>">
        <title><%= CONFIG.title %></title>
        <link rel="shortcut icon" href="/images/favicon.ico"/>
        <link rel="bookmark" href="/images/favicon.ico"/>
        <link rel="stylesheet" href="./css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="./css/animate.css">
        <link rel="stylesheet" href="./css/index.css?v=<%= Date.now() %>">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123392816-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-123392816-1');
        </script>

        <script src="./js/jquery-3.1.1.min.js"></script>
        <script src="./js/wow.min.js"></script>
        <body>